
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Buscar expediente</h1>
    <div class="input-group" style="justify-content: center;">
      <div class="input-group-prepend">
        <span class="input-group-text">1500</span>
      </div>
      <input (keyup.enter)="buscar(input.value)" #input placeholder="Número expediente">
      <div class="input-group-prepend">
        <span class="input-group-text">2021</span>
        <span class="input-group-text">EXP</span>
        <button mat-icon-button><mat-icon (click)="buscar(input.value)">search</mat-icon></button>
        <!-- <mat-icon class="input-group-text" (click)="buscar(input.value)">search</mat-icon> -->
      </div>

    </div>
  </div>
</div>



<div class="row m-4">
    <div class="col-1"></div>
    <div class="col-10">

              <h2 class="text-start" *ngIf="spinnerExpediente" style="margin-left: 25%;">
                <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
                <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
                <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
                <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
                <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
                <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
              </h2>
              <h1 class="display-4">Resultados de la busqueda:</h1>
              <p *ngIf="travel.length===0"class="lead"> No se encontró informacion</p>

              
              
            <!-- <mat-grid-list *ngIf="travel" cols="10" rowHeight="50px">
                <mat-grid-tile
                    (click)="verExpediente(record)"
                    *ngFor="let record of travel;let i =index;"
                    [colspan]="2"
                    [rowspan]="1"
                    [style.background]="record.office.colour"
                    title="{{record.office.name}}"
                    style="color: rgb(255, 255, 255);font-weight: bold;font-size: 2em;">
                {{i}}
                </mat-grid-tile>
            </mat-grid-list> -->

            <div class="mat-elevation-z8" *ngIf="travel.length>0">
                <!-- <button title="Detalle de expediente" class="mr-2 ml-2" color="s"  mat-mini-fab (click)="verExpediente()" ><mat-icon>preview</mat-icon></button> -->
                <mat-list>
                  <mat-divider></mat-divider>
                    <mat-list-item>
                      <mat-icon mat-list-icon>Expediente</mat-icon>
                      <div mat-line>Numero de expediente: {{record.number}}</div>
                      <div *ngIf="record.amount;"  mat-line>Monto: ${{record.amount}} </div>
                      <div mat-line>Motivo: {{record.reason}} </div>
                      <div *ngIf="record.observation;"mat-line>Observacion: {{record.observation}} </div>
                    </mat-list-item>
                    
                    <mat-list-item>
                      <mat-icon mat-list-icon>I</mat-icon>
                      <div mat-line>Iniciador: {{record.initiator}} </div>
                      <div *ngIf="record.cuit;"  mat-line>Cuit del iniciador: {{record.cuit}} </div>
                    </mat-list-item>
                  </mat-list>
                  <mat-divider></mat-divider>
                  <h1 style="margin-left: 35%;margin-top: 2%;">Camino del expediente</h1>
                <table mat-table [dataSource]="dataSource" matSort>

                  <!-- Button element Column -->
                  <ng-container matColumnDef="record_step_office">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OFICINA ORIGEN </th>
                    <td mat-cell *matCellDef="let row" > {{row.office.name}} </td>
                  </ng-container>
                    <!-- ID Column -->
                    <ng-container matColumnDef="index"   >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PASO </th>
                        <td mat-cell *matCellDef="let row;let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="observacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Observacion del movimiento</th>
                        <td mat-cell *matCellDef="let row" >
                        
                        <ng-container *ngIf="row.observation; else elseTemplate">
                        {{row.observation}}
                        </ng-container>
                        <ng-template #elseTemplate>
                        Sin observacion
                        </ng-template>
                    </td>
                    </ng-container>
                    <ng-container matColumnDef="dias">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>DIAS</th>
                      <td mat-cell *matCellDef="let row" >
                      
                      <ng-container *ngIf="row.output; else elseTemplate11">
                         <ng-container *ngIf=" row.dias; else elseTemplate44">
                          {{row.dias}}
                         </ng-container>
                         <ng-template #elseTemplate44>
                           0
                         </ng-template>
                         
                      </ng-container>
                      <ng-template #elseTemplate11>
                        <strong style="color: rgb(184, 184, 49);">EN PROCESO</strong>
                      </ng-template>
                  </td>
                  </ng-container>

                  <!-- Fecha de creacion Column -->
                  <ng-container matColumnDef="input">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE ENTRADA </th>
                    <td mat-cell *matCellDef="let row">{{ row.input | date:'dd-MM-y H:mm':'-03:00' }} </td>
                  </ng-container>

                    <!-- <ng-container matColumnDef="record_step_office">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Element </th>
                      <td mat-cell *matCellDef="let row"><button (click)="verEntrada(row.elements)" class="btn btn-info">Ver <span class="badge badge-light">{{row.elements.length}}</span></button> </td>
                    </ng-container> -->
                    <ng-container matColumnDef="output">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE SALIDA </th>
                        <td mat-cell *matCellDef="let row" >
                            
                            <ng-container *ngIf="row.output; else elseTemplate">
                                {{row.output |date:'dd-MM-y H:mm':'-03:00'}}
                            </ng-container>
                            <ng-template #elseTemplate>
                                <ng-container *ngIf="row.active==1; else elseTemplate">
                                    <p style="color: green;">ACTIVO</p>
                                </ng-container>
                                <ng-template #elseTemplate>
                                   
                                    <ng-container *ngIf="!row.records_store_id; else elseTemplate">
                                        <p style="color: red;">NO ACTIVO</p>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <p style="color: orange;">ARCHIVADO</p>
                                    </ng-template>
                                    
                                </ng-template>
                                
                            </ng-template>
                        </td>
                      </ng-container>

          
                    <!-- <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
                      <td mat-cell *matCellDef="let row">
                         
                      </td>
                    
                    </ng-container>
                 -->
          
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="5">No se encontro un dato con el valor ingresado. "{{input.value}}"</td>
                  </tr>
                </table>
          
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
    </div>
    <div class="col"></div>
</div>
