<h2 mat-dialog-title class="text-center">{{data.title}}</h2>
<mat-dialog-content>
 
    <div class="card ">
      <div class="card-body" >
        <p class="card-text">NUMERO EXPEDIENTE: <strong>{{expediente.number}}</strong></p>
        <p class="card-text">INICIADOR: <strong>{{expediente.initiator}}</strong></p>
        
        <ng-container *ngIf="expediente.cuit; else elseTemplate1">
          <p class="card-text">CUIT: <strong>{{expediente.cuit}}</strong></p>
        </ng-container>
        <ng-template #elseTemplate1>
          
        </ng-template>
        <p class="card-text">MOTIVO: <strong>{{expediente.reason}}</strong></p>
        <p class="card-text">MONTO: <strong>${{expediente.amount}}</strong></p>
        
        <ng-container *ngIf="expediente.observation; else elseTemplate">
          <p class="card-text">OBSERVACION: <strong>{{expediente.observation}}</strong></p>
        </ng-container>
        <ng-template #elseTemplate>
          
        </ng-template>
        
        <p class="card-text">FECHA DE CREACION <strong>{{expediente.created_at| date:'short'}}</strong></p>
        <div *ngIf="recordOffice">
          <p class="card-text">OFICINA: <strong>{{recordOffice.office.name}}</strong></p>

          <p  class="card-text">DIAS EN LA OFICINA: <strong>{{recordOffice.dias}}</strong></p>
         
         
          <p class="card-text" *ngIf="recordOffice.inicial"  >INICIO: <strong>{{recordOffice.input | date:'short'}}</strong></p>
          <p class="card-text" *ngIf="!recordOffice.inicial"  >ENTRO: <strong>{{recordOffice.input | date:'short'}}</strong></p>
          <ng-container *ngIf="recordOffice.output">
            <p class="card-text" *ngIf="!recordOffice.inicial">SALIO: <strong>{{recordOffice.output | date:'short'}}</strong></p>
          </ng-container>
          
    
          <ng-container *ngIf="firma==1">
            <p class="card-text">FIRMA: <strong style="color:hsl(120, 72%, 52%);">ACEPTADO</strong> </p>
            <p class="card-text">FECHA DE FIRMA: <strong>{{fechaFirma | date:'short'}}</strong> </p>
          </ng-container>
          <ng-container *ngIf="firma==2">
            <p class="card-text">FIRMA: <strong style="color:#ffff00">PENDIENTE</strong> </p>
          </ng-container>
          <ng-container *ngIf="firma==0">
            <p class="card-text">FIRMA: <strong style="color:#ff0000">RECHAZADO</strong> </p>
          </ng-container>
      
          <ng-container *ngIf="recordOffice.records_store_id;">
            <p class="card-text">ESTADO: <strong>ARCHIVADO</strong></p>
          </ng-container>
         
          
        </div>
      </div>
    </div>



</mat-dialog-content>

<mat-dialog-actions style="display: inline-block;
margin-left: 55%;">
    <button  mat-stroked-button color="primary" (click)="save()" >Cerrar</button>
</mat-dialog-actions>
