
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }

  .mat-elevation-z8{
      display: inline-block;
      width: 95%;
        margin-left: 2em;
        
  }
  
  .buscar{
    width: 50% !important;
    margin-left: 25%;
  
  }

  .New{
    font-size: 2em;
    color:#007bff;
  }
  .old{
    color:rgb(0, 0, 0);
    font-size: 3em;
  }
  // .mat-row:hover .mat-cell {
  //   background-color:#f5f5f5;
  // }
  .row-alert{
    border: 2px groove rgb(230, 5, 5);;
    // color: #ffff;
  }
  span{
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
    color: #ff5733;
    font-size: 30px;
  }
  
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #1D1D1B;
  color: #fff;
  font-size: 14px;
  font-family: sinking sans bold;
  position: absolute;
  padding: 3px 20px;
  bottom: -1.6em;
  left: -75%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
  
}
[data-title] {
  position: relative;
}