<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet">
<!-- <h2 *ngIf="spinnerExpediente && !noExpedientes" class="text-center m-4">
  <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
  <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
  <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
  <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
  <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
  <div style="width: 1.5rem; height: 1.5rem;" class="spinner-grow text-secondary" role="status"></div>
</h2> -->

<h2 class="text-center mt-5" *ngIf="expedientes.length==0 && !isLoading">
  ¡No existen expedientes a revisar!
</h2>
<div class="overlay" *ngIf="isLoading">
  <div class="loader">
  </div>
</div>

<div>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Elemento">
  </mat-form-field> -->
  <div class="col-md-6 m-5" *ngIf="expedientes.length>0">
    <mat-form-field appearance="fill">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ejem. número de expédiente" #input>
    </mat-form-field>
  </div>



  <div class="mat-elevation-z8" *ngIf="expedientes.length>0">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- REMITO Column -->
      <ng-container matColumnDef="record">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NÚMERO DE EXPEDIENTE</th>
        <td mat-cell *matCellDef="let row"> {{row.record.number}} <span *ngIf="row.new==1"
            class="material-icons New">fiber_new</span> </td>
      </ng-container>

      <!-- Fecha de creacion Column -->
      <ng-container matColumnDef="input">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE ENTRADA </th>
        <td mat-cell *matCellDef="let row">{{ row.record_step_office.output | date:'d-MM-y':'-03:00'}} </td>
      </ng-container>

      <ng-container matColumnDef="days_lapsed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DIAS TRANSCURRIDOS </th>
        <td mat-cell *matCellDef="let row">{{ row.days_lapsed}} </td>
      </ng-container>


      <!-- Button element Column -->
      <ng-container matColumnDef="record_step_office">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OFICINA ORIGEN </th>
        <td mat-cell *matCellDef="let row"> {{row.record_step_office.office.name}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="record_step_office">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Element </th>
            <td mat-cell *matCellDef="let row"><button (click)="verEntrada(row.elements)" class="btn btn-info">Ver <span class="badge badge-light">{{row.elements.length}}</span></button> </td>
          </ng-container> -->
      <!-- <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO DE FIRMA </th>
            <td mat-cell *matCellDef="let row" > <strong *ngIf="row.firm_record_office.firm==2" style="color: rgb(208, 208, 19);">PENDIENTE</strong> <strong *ngIf="row.firm_record_office.firm==1" style="color: green;">ACEPTADO</strong> </td>
          </ng-container> -->

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">ACCIONES</th>
        <td mat-cell *matCellDef="let row">
          <!-- <button title="Archivar expediente" class="my-2" color="warn" (click)="archivarExpediente(row.id)"> -->
          <span data-title="Archivar expediente" class="material-icons-outlined"
            (click)="archivarExpediente(row.id)">archive</span>

          <!-- </button> -->
          <!-- <button title="Detalle de expediente" class="my-2" color="s"  (click)="verExpediente(row.record)"> -->
          <span data-title="Ver detalles" class="material-icons-outlined"
            (click)="verExpediente(row.record)">preview</span>
          <!-- </button> -->
          <!-- <button   title="Mover expediente" class="my-2"  (click)="enviar(row)"> -->
          <span data-title="Enviar/mover expediente" class="material-icons-outlined" (click)="enviar(row)">send</span>
          <!-- </button> -->
          <!-- <button title="Marcar como adjudicado" class="my-2"> -->
          <span data-title="Adjudicar expediente" class="material-icons-outlined"
            (click)="adjudicarExpediente(row.record.id)">assignment_turned_in</span>
          <!-- <i class="fas fa-signature"></i> -->
          <!-- </button> -->
          <!-- <ng-container *ngIf="this.user.office.name=='Privada'; else elseTemplate">
                  
                </ng-container>
              <ng-template #elseTemplate>
                  <button  title="Mover expediente" mat-mini-fab (click)="enviar(row)"><mat-icon>label_important</mat-icon></button>
                </ng-template> -->
        </td>

      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr [ngClass]="{'row-alert': row.days_lapsed>15}" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <!-- <td class="mat-cell" colspan="5">No se encontro un dato con el valor ingresado. "{{input.value}}"</td> -->
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>