
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }

  .mat-elevation-z8{
      display: inline-block;
      width: 95%;
        margin-left: 2em;
        
  }
  
  .buscar{
    width: 50% !important;
    margin-left: 25%;
  
  }

  .New{
    font-size: 2em;
    color:#007bff;
  }
  .old{
    color:rgb(0, 0, 0);
    font-size: 3em;
  }
  .spinner-center{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-spinner{
    position: relative;
    min-height: 200px;
  }
  .container-table{
    position: relative;
    height: 400px;
    overflow: auto;
  }
  .mat-row:nth-child(even){
    background-color: rgba(0,0,0,.05)
}