
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }

  .mat-elevation-z8{
      display: inline-block;
      width: 95%;
        margin-left: 2em;
        
  }
  
  .buscar{
    width: 50% !important;
    margin-left: 25%;
  
  }

  .New{
    font-size: 2em;
    color:#007bff;
  }
  .old{
    color:rgb(0, 0, 0);
    font-size: 3em;
  }