<h2 mat-dialog-title class="text-center">{{data.title}}</h2>
<mat-dialog-content>
    <form [formGroup]="form" >
        <div class="card ">

            <div class="row">
                <div class="card-body">
                    <p class="card-text">Expediente: <strong>{{expediente.number}}</strong></p>
                  </div>
                  <!-- <ng-container *ngIf="this.data.submit==='enviar'; else elseTemplate"> -->
                <ng-container >
                    <div class="card-body">
                        <mat-icon style="font-size: 2em;">arrow_right_alt</mat-icon>
                      </div>
                      <div class="card-body">
                        <mat-label>Seleccione tipo de Destino</mat-label>
                        <mat-select placeholder="Destino"  (selectionChange)="seleccionOrigin($event.value)" formControlName="detino">
                            <mat-option  [value]="1">
                                Interno
                            </mat-option>
                            <mat-option *ngIf="user.office.name.toLowerCase() == 'mesa de entrada'" [value]="2">
                                Externo
                            </mat-option>
                        </mat-select>
                      </div>
                    
                        <div *ngIf="destino==1" class="card-body">
                            <mat-label>Seleccione una oficina</mat-label>
                            <mat-select placeholder="oficinas" formControlName="office_id">
                                <mat-option *ngFor="let oficina of oficinas" [value]="oficina.id">
                                    {{oficina.name}}
                                </mat-option>
                            </mat-select>
                          </div>
                          <div *ngIf="destino==2" class="card-body">
                            <mat-form-field  appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <textarea formControlName="name" matInput type="text"  value="" placeholder="Nombre del lugar destino"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="destino==1||destino==2" class="card-body">
                            <mat-form-field  appearance="outline">
                                <mat-label>Observacion</mat-label>
                                <textarea formControlName="observation" matInput type="text"  value="" placeholder="Monto en pesos"></textarea>
                            </mat-form-field>
                          </div>
                   
                    
              
                       
                      
                  </ng-container>
                  <!-- <ng-template #elseTemplate>
                        <div class="card-body">
                            <mat-label>Seleccione un Estado</mat-label>
                            <mat-select placeholder="Firma" formControlName="firm">
                                <mat-option  [value]="0">
                                RECHAZADO
                                </mat-option>
                                <mat-option  [value]="1">
                                FIRMADO Y APROBADO
                                </mat-option>
                                <mat-option  [value]="2">
                                    PENDIENTE
                                </mat-option>
                            </mat-select>
                        </div>
                  </ng-template> -->
                  
                  
                  
            </div>
         
        </div>
    </form>
    


</mat-dialog-content>

<mat-dialog-actions style="display: inline-block;
margin-left: 40%;" >
<button  mat-stroked-button color="secondary"   (click)="close()" >Cancelar</button>
    <button  mat-stroked-button color="primary" [disabled]="!form.valid"  (click)="save()" >Enviar</button>
</mat-dialog-actions>
